@charset "utf-8";
@media print {
  .form-section {
      display: inline !important
  }
  .form-pagebreak {
      display: none !important
  }
  .form-section-closed {
      height: auto !important
  }
  .page-section {
      position: initial !important
  }
}