@charset "utf-8";
html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    min-height: 100%;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility
}

*,
 :after,
 :before {
    box-sizing: inherit
}

body {
    top: 0;
    left: 0;
    z-index: 0;
    background-color: #000;
    background-image: url(../Images/BackGround.jpg);
    height: 0;
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-attachment: fixed;
    -moz-background-attachment: fixed;
    -o-background-attachment: fixed;
    -ms-background-attachment: fixed;
    background-attachment: fixed;
    margin: 0
}

h1 {
    font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif;
    font-size: 23px;
    display: inline-block;
    color: #000;
    margin: 0 0 12px;
    padding: 0
}

h2 {
    font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif;
    font-size: 21px;
    display: inline-block;
    color: #000;
    margin: 0 0 10px;
    padding: 0
}

h3 {
    font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif;
    font-size: 19px;
    display: inline-block;
    color: #000;
    margin: 0 0 8px;
    padding: 0
}

h4 {
    font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif;
    font-size: 17px;
    display: inline-block;
    color: #000;
    margin: 0 0 6px;
    padding: 0
}

h5 {
    font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif;
    font-size: 17px;
    display: inline-block;
    color: #000;
    margin: 0 0 4px;
    padding: 0
}

h6 {
    font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif;
    font-size: 17px;
    display: inline-block;
    color: #000;
    margin: 0 0 2px;
    padding: 0
}

p {
    font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif;
    font-size: 17px;
    display: inline-block;
    color: #000;
    margin: 0;
    padding: 0
}

a:link {
    color: #1e90ff;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif
}

a:visited {
    color: #8a2be2;
    background-color: transparent;
    text-decoration: none;
    font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif
}

a:hover {
    color: #f4a460;
    background-color: transparent;
    font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif
}

a:active {
    color: #ff6347;
    background-color: transparent;
    text-decoration: underline;
    font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif
}

img {
    display: block;
    position: relative;
    height: auto;
    -ms-height: 100%;
    top: 0;
    max-height: 100%;
    max-width: 100%;
    table-layout: fixed;
    border-style: none
}

.img-fluid {
    max-width: 100%;
    height: auto
}

.img-container {
    max-height: 90vh;
    height: auto;
    width: auto;
    vertical-align: middle;
    margin: auto
}

.Slides,
.Slides1,
.Slides2 {
    vertical-align: middle;
    display: none;
    position: relative;
    height: auto;
    width: 100%;
    -ms-height: 100%;
    -ms-width: 100%;
    top: 0;
    max-height: 100%;
    max-width: 100%;
    table-layout: fixed;
    border-style: none
}

.img-icon {
    height: auto;
    float: left;
    display: block;
    top: 0;
    table-layout: fixed;
    text-align: center;
    text-decoration: none;
    left: 0;
    -webkit-transition: background .5s linear;
    -moz-transition: background .5s linear;
    -o-transition: background .5s linear;
    transition: background .5s linear;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    max-width: 71px;
    cursor: pointer;
    margin: 5px 2px
}

.img-icon:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    color: #444;
    background-size: 100% 100%;
    transition: background .5s linear;
    -moz-transition: background .5s linear;
    -o-transition: background .5s linear
}

.container {
    position: relative;
    height: auto;
    width: 100%;
    min-height: 100%
}

.logo {
    float: none;
    display: inline-block;
    color: #000;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    max-height: 100%;
    max-width: 100%;
    vertical-align: top;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .36), 0 1px 2px rgba(0, 0, 0, .48);
    cursor: pointer
}

.logo:hover {
    background-color: #636e72;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .36), 0 1px 2px rgba(0, 0, 0, .48);
    cursor: pointer
}

.img {
    display: block;
    height: 100%;
    top: 0;
    table-layout: fixed;
    max-height: 100%;
    max-width: 100%;
    margin: 100% auto
}

#home {
    background: url(../Images/preEJK.jpg);
    display: block;
    background-size: 100% 100%;
    top: 0;
    table-layout: fixed;
    max-height: 100%;
    max-width: 100%;
    left: 0;
    -webkit-transition: background .5s linear;
    -moz-transition: background .5s linear;
    -o-transition: background .5s linear;
    transition: background .5s linear
}

.homeimg {
    opacity: 0;
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    max-height: 100%;
    max-width: 100%;
    table-layout: fixed
}

#home-background {
    opacity: 0
}

#home:hover {
    background: url(../Images/preJK.jpg);
    background-size: 100% 100%;
    -webkit-transition: background .5s linear;
    -moz-transition: background .5s linear;
    -o-transition: background .5s linear;
    transition: background .5s linear
}

.article:focus {
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    background-color: #b2bec3;
    background-size: 100% 100%;
    transition: background .5s linear;
    -moz-transition: background .5s linear;
    -o-transition: background .5s linear
}

ulnav {
    list-style-type: none;
    overflow: hidden;
    background-color: #000;
    color: #fff;
    top: 0;
    width: 100%;
    z-index: 500;
    display: inline-block;
    vertical-align: top;
    max-width: 1040px;
    text-align: center;
    margin: 0 auto;
    padding: 0
}

linav {
    color: #fff;
    float: left;
    padding: 4px 2px
}

.dropbtn,
linav a {
    display: inline-block;
    color: #000;
    text-align: left;
    text-decoration: none;
    font-size: 17px;
    padding: 14px 16px
}

.dropdown:hover .dropbtn,
linav a:hover {
    color: #000;
    background-color: #636e72;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .36), 0 1px 2px rgba(0, 0, 0, .48);
    font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif
}

.dropbtn {
    background-color: #b2bec3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .24), 0 1px 2px rgba(0, 0, 0, .36)
}

linavb {
    color: #fff;
    float: left;
    padding: 4px 2px 0
}

.dropbtnimg,
linavb a {
    display: inline-block;
    color: #000;
    text-align: left;
    text-decoration: none;
    font-size: 17px
}

.dropbtnimg:hover,
linavb a:hover {
    color: #000;
    background-color: #b2bec3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .36), 0 1px 2px rgba(0, 0, 0, .48);
    font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif
}

.dropbtnimg {
    background-color: #636e72;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .24), 0 1px 2px rgba(0, 0, 0, .36)
}

.dropdown-content {
    color: #fff;
    display: none;
    position: absolute;
    text-align: left;
    background-color: #dfe6e9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    z-index: 550;
    padding: 14px
}

.dropdown-content a {
    color: #000;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 12px 16px
}

.dropdown-content h8 {
    background-color: rgba(255, 255, 255, 0)
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: #fff
}

.botbar a {
    float: left;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    vertical-align: bottom;
    bottom: 0;
    left: 0;
    position: absolute;
    max-width: 1040px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-basis: auto;
    z-index: 400;
    cursor: pointer;
    font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif;
    margin: 5px auto;
    padding: 14px 16px
}

.botbar {
    cursor: pointer;
    overflow: hidden;
    background-color: #000;
    position: absolute;
    min-height: 30px;
    vertical-align: center;
    color: #fff;
    bottom: 0;
    width: 100%;
    z-index: 500;
    display: inline-block;
    max-width: 1040px;
    text-align: center;
    margin: 10px auto 0;
    padding: 0
}

.main {
    height: 200px;
    max-width: 1040px;
    font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif;
    margin: 0 auto;
    padding: 0
}

table {
    border-collapse: collapse;
    width: 100%
}

td,
th {
    border: 1px solid #dfe6e9;
    text-align: left;
    padding: 8px
}

a {
    text-decoration: none;
    transition: all .3s cubic-bezier(.25, .8, .25, 1)
}

div,
figure,
p {
    margin: 0;
    padding: 0
}

.header {
    color: #000;
    text-align: left;
    padding: 10px 0
}

.header h1 {
    font-size: 40px;
    font-weight: 700
}

.header h2 a {
    border-bottom: 1px solid #fff;
    color: #000;
    font-size: 20px;
    opacity: .5
}

.header h2 a:hover {
    border-bottom-color: #000;
    opacity: 1
}

.row {
    float: left;
    color: #fff;
    text-decoration: none;
    max-width: 1040px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    cursor: pointer;
    font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif;
    margin: 0 auto
}

.column {
    flex: 4;
    flex-direction: row;
    float: left;
    width: 25%
}

.articlesimple {
    color: #000;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-basis: auto;
    height: auto;
    margin: 11px
}

.article {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    color: #000;
    display: inherit;
    flex: 1;
    flex-direction: column;
    flex-basis: auto;
    height: auto;
    margin: 10px
}

.article:focus,
.article:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    color: #444
}

.article-image {
    background: #000;
    display: block;
    padding-top: 75%;
    position: relative;
    width: 100%
}

.article-image img {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.article-image.is-3by2 {
    padding-top: 66.6666%
}

.article-image.is-16by9 {
    padding-top: 56.25%
}

.articlebody {
    box-sizing: border-box;
    flex-direction: column;
    margin-top: 7px;
    margin-bottom: 8px;
    background-color: #fff;
    height: auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    padding: 20px
}

.articlebodyDesc {
    box-sizing: border-box;
    flex-direction: column;
    margin-top: 1px;
    margin-bottom: 2px;
    background-color: #fff;
    height: auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    padding: 20px
}

.article-title {
    color: #000;
    padding-left: 5px;
    padding-right: 5px;
    flex-shrink: 0;
    font-size: 1.4em;
    font-weight: 700;
    line-height: 1.2
}

.article-titleL {
    float: left;
    color: #000;
    flex-shrink: 0;
    font-size: 1.4em;
    font-weight: 700;
    line-height: 1.2
}

.article-titleR {
    float: right;
    color: #000;
    flex-shrink: 0;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.2
}

.article-content2 {
    flex: 1;
    background-color: #fff;
    color: #000;
    height: auto;
    margin: 5px
}

.article-content3 {
    flex: 1;
    text-align: center;
    float: center;
    background-color: #fff;
    color: #000;
    height: auto;
    margin: 5px
}

.article-info {
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    font-size: .85em;
    justify-content: space-between;
    margin-top: 10px;
    color: #000
}

.article-date {
    float: right;
    opacity: .5;
    font-style: italic;
    display: flex;
    font-size: .85em;
    margin-top: 10px;
    color: #000
}

.bot-info {
    color: #fff;
    display: flex;
    font-size: .85em;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 0;
    font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif;
    flex-direction: row;
    flex: 1;
    padding: 0 16px
}

.first-article .article-image {
    height: 300px;
    order: 2;
    padding-top: 0;
    width: 400px
}

.main-column {
    flex: 3
}

.nested-column {
    flex: 2
}

.first-article {
    flex-direction: row
}

.first-article .articlebody {
    flex: 1
}

@media screen and (max-width:360px) {
    .dropbtn {
        padding: 14px 10px
    }
}

@media screen and (min-width:800px) {
    .column,
    .columns {
        display: -ms-flexbox;
        display: flex
    }
    .first-article .article-body {
        flex: 1
    }
}

@media screen and (min-width:1000px) {
    .first-article {
        flex-direction: row
    }
    .first-article .article-body {
        flex: 1
    }
}

.tablinkdum {
    float: left;
    width: auto;
    border: none;
    outline: 0;
    min-width: 6px;
    margin: 0 auto;
    padding: 4px 6px
}

.tablink {
    background-color: #2d3436;
    color: #fff;
    float: left;
    border: none;
    outline: 0;
    cursor: pointer;
    font-size: 17px;
    width: auto;
    min-width: 48px;
    max-width: 1040px;
    font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif;
    margin: 0 auto;
    padding: 4px 6px
}

.tablinkr {
    background-color: #2d3436;
    color: #fff;
    float: right;
    border: none;
    outline: 0;
    cursor: pointer;
    font-size: 17px;
    width: auto;
    min-width: 48px;
    max-width: 1040px;
    font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif;
    table-layout: fixed;
    display: block;
    margin: 0 auto;
    padding: 4px 6px
}

.tabcontent {
    float: left;
    color: #f2f2f2;
    text-align: left;
    text-decoration: none;
    font-size: 17px;
    vertical-align: top;
    max-width: 1040px;
    width: 99%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-basis: auto;
    font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif;
    margin: 5px;
    padding: 4px 6px
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px
}

.switch input {
    display: none
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dfe6e9;
    -webkit-transition: .4s;
    transition: .4s
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s
}

input:checked+.slider {
    background-color: #0984e3
}

input:focus+.slider {
    box-shadow: 0 0 1px #0984e3
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px)
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    overflow: hidden;
    padding: 0
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #000
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 700;
    top: 150%;
    left: 50%;
    margin-left: -60px;
    padding: 5px 0
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-color: transparent transparent #000;
    border-style: solid;
    border-width: 5px
}

.tooltip:hover .tooltiptext {
    visibility: visible
}

.containera {
    position: relative;
    width: 100%
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #2d3436
}

.text {
    color: #fff;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    margin: 20px
}

* {
    box-sizing: border-box
}

.row>.column {
    padding: 0 8px
}

.row:after {
    content: "";
    display: table;
    clear: both
}

.modal {
    display: none;
    position: fixed;
    z-index: 600;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .8);
    padding: 25px 50px 50px
}

.modal2 {
    position: fixed;
    z-index: 600;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .8);
    padding: 25px 50px 50px
}

.modal-content {
    position: relative;
    width: auto;
    max-width: 80%;
    height: auto;
    max-height: 80%;
    z-index: 600;
    margin: auto
}

.close {
    color: #aaecff;
    position: fixed;
    top: 0;
    right: 25px;
    font-size: 35px;
    font-weight: 700;
    z-index: 610;
    text-shadow: 3px 3px rgba(0, 0, 0, .25)
}

.close:focus,
.close:hover {
    color: #999;
    text-decoration: none;
    cursor: pointer;
    z-index: 610
}

.mySlides {
    display: none;
    color: #fff
}

.mySlides2 {
    color: #000
}

.prev {
    cursor: pointer;
    position: fixed;
    top: 50%;
    left: 25px;
    width: auto;
    margin-top: -50px;
    color: #aaecff;
    font-weight: 700;
    z-index: 610;
    text-shadow: 3px 3px rgba(0, 0, 0, .25);
    font-size: 20px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    padding: 16px
}

.next {
    cursor: pointer;
    position: fixed;
    top: 50%;
    width: auto;
    margin-top: -50px;
    color: #aaecff;
    font-weight: 700;
    z-index: 610;
    text-shadow: 3px 3px rgba(0, 0, 0, .25);
    font-size: 20px;
    transition: .6s ease;
    user-select: none;
    -webkit-user-select: none;
    right: 0;
    border-radius: 3px 0 0 3px;
    padding: 16px
}

.caption-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 2px 16px
}

.caption-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 2px 16px
}

.demo {
    display: none;
    opacity: .6
}

.demotext {
    font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif;
    font-size: 17px;
    display: inline-block;
    color: #fff;
    margin: 0;
    padding: 0
}

img.hover-shadow {
    transition: .3s
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19)
}

.next:hover,
.prev:hover {
    background-color: rgba(0, 0, 0, .8)
}

.numbertext {
    opacity: 0;
    font-size: 12px;
    position: absolute;
    top: 0;
    padding: 8px 12px
}

.stomt-button {
    border-radius: 0 !important;
    right: 2px !important;
    bottom: 35px !important;
    height: 50px !important;
    width: 59px !important;
    color: transparent !important;
    transform: none !important;
    float: none !important;
    font-size: 17px !important;
    list-style-type: none !important;
    overflow: hidden !important;
    background-color: rgba(9, 132, 227, .65) !important;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2) !important;
    z-index: 1000 !important;
    display: inline-block !important;
    vertical-align: center !important;
    text-decoration: none !important;
    font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif !important;
    margin: 4px 4px auto !important;
    padding: 14px 2px !important
}

a.anchor {
    display: block;
    position: relative;
    top: -25px;
    visibility: hidden
}

#Default {
    color: #fff;
}

#DefaultI {
    color: #fff;
    box-shadow: 2px 0px #b2bec3
}

#DefaultB {
    color: #fff;
    box-shadow: 2px 0px #d63031
}

#DefaultP {
    color: #fff;
    box-shadow: 2px 0px #fdcb6e
}

#DefaultC {
    color: #fff;
    box-shadow: 2px 0px #81ecec
}

#Index {
    color: #000;
    background-color: #b2bec3;
    box-shadow: 2px 0px #b2bec3
}

#IndexB,
#IndexC {
    background-color: #b2bec3
}

#Blog {
    color: #000;
    background-color: #d63031;
    box-shadow: 2px 0px #d63031
}

#Projects {
    color: #000;
    background-color: #fdcb6e;
    box-shadow: 2px 0px #fdcb6e
}

#Contact {
    color: #000;
    background-color: #81ecec;
    box-shadow: 2px 0px #81ecec
}

#BlogB {
    background-color: #d63031
}

#ProjectsB {
    background-color: #fdcb6e
}

#ContactB {
    background-color: #81ecec
}

.img-fluid:hover,
.img:hover,
.homeimg:hover,
.cursor {
    cursor: pointer
}

.dropdown,
linav a,
linavb a {
    color: #fff;
    display: inline-block;
    font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif
}

.dropdown-content a:hover,
tr:nth-child(even) {
    background-color: #dfe6e9
}

.article-content,
.article-content-dropdown {
    margin-bottom: 0;
    background-color: #fff;
    color: #000;
    height: inherit;
    padding: 5px
}

.article-content2
{
    margin-bottom: 0;
    background-color: #fff;
    color: #000;
    height: inherit;
    padding: 5px;
    left: 10px
}

.article-content-dropdown {
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0);
    color: #000;
    height: inherit;
    padding: 5px
}

.tablink:hover,
.tablinkr:hover {
    z-index: 99 !important;
    background-color: #636e72;
    color: #fff
}

.containera:hover .overlay,
.active,
.demo:hover {
    opacity: 1
}

#Banner,
#BannerB {
    text-shadow: 2px 2px 3px rgba(178, 190, 195, .75)
}