@charset "utf-8";

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  min-height: 100%;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}
*, *:before,
*:after {
	box-sizing: inherit;
}
body {
  top: 0;
  left: 0;
  z-index: 0;
  margin: 0;
  background-image: url("../Images/BackGround.jpg");
  height: 0px;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  /* parallax scrolling effect */
  /* background-attachment: cover; */
  color: #000000;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 0px;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-attachment: fixed;
  -moz-background-attachment: fixed;
  -o-background-attachment: fixed;
  -ms-background-attachment: fixed;
  background-attachment: fixed;
}

h1 {
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L",
    "Avant Garde", Futura, sans-serif;
  font-size: 23px;
  display: inline-block;
  color: black;
  margin: 0px 0px 12px 0px;
  padding: 0;
}

h2 {
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L",
    "Avant Garde", Futura, sans-serif;
  font-size: 21px;
  display: inline-block;
  color: black;
  margin: 0px 0px 10px 0px;
  padding: 0;
}

h3 {
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L",
    "Avant Garde", Futura, sans-serif;
  font-size: 19px;
  display: inline-block;
  color: black;
  margin: 3;
  margin: 0px 0px 8px 0px;
  padding: 0;
}

h4 {
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L",
    "Avant Garde", Futura, sans-serif;
  font-size: 17px;
  display: inline-block;
  color: black;
  margin: 0px 0px 6px 0px;
  padding: 0;
}

h5 {
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L",
    "Avant Garde", Futura, sans-serif;
  font-size: 17px;
  display: inline-block;
  color: black;
  margin: 0px 0px 4px 0px;
  padding: 0;
}

h6 {
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L",
    "Avant Garde", Futura, sans-serif;
  font-size: 17px;
  display: inline-block;
  color: black;
  margin: 0px 0px 2px 0px;
  padding: 0;
}

p {
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L",
    "Avant Garde", Futura, sans-serif;
  font-size: 17px;
  display: inline-block;
  color: black;
  margin: 0;
  padding: 0;
}

a:link {
  color: DodgerBlue;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L",
    "Avant Garde", Futura, sans-serif;
}

a:visited {
  color: BlueViolet;
  background-color: transparent;
  text-decoration: none;
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L",
    "Avant Garde", Futura, sans-serif;
}

a:hover {
  color: SandyBrown;
  background-color: transparent;
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L",
    "Avant Garde", Futura, sans-serif;
}

a:active {
  color: Tomato;
  background-color: transparent;
  text-decoration: underline;
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L",
    "Avant Garde", Futura, sans-serif;
}

img {
  vertical-align: middle;
  border-style: none;
  display: block;
  position: relative;
  height: auto;
  -ms-height: 100%;
  -ms-width: 100%;
  top: 0;
  max-height: 100%;
  max-width: 100%;
  table-layout: fixed;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
.img-fluid:hover {
	  cursor: pointer;
}
.img-container {
  	margin: auto;
    max-height: 90vh;
    height: auto;
    width: auto;
	vertical-align: middle;
}
.Slides, .Slides1, .Slides2 {
  vertical-align: middle;
  border-style: none;
  display: none;
  position: relative;
  height: auto;
  -ms-height: 100%;
  -ms-width: 100%;
  top: 0;
  max-height: 100%;
  max-width: 100%;
  table-layout: fixed;
}

.img-icon {
  height: auto;
  float: left;
  display: block;
  top: 0;
  table-layout: fixed;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  left: 0;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  max-width: 71px;
  cursor: pointer;
}

.img-icon:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #444;
  background-size: 100% 100%;
  transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
}

.container {
  position: relative;
  height: auto;
  width: 100%;
  min-height: 100%;
}

.logo {
  float: none;
  display: inline-block;
  color: black;
  text-align: center;

  text-decoration: none;
  font-size: 17px;

  max-height: 100%;
  max-width: 100%;

  vertical-align: top;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.36), 0 1px 2px rgba(0, 0, 0, 0.48);
  cursor: pointer;
}
.logo:hover {
  background-color: rgba(125, 125, 125, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.36), 0 1px 2px rgba(0, 0, 0, 0.48);
  cursor: pointer;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 100% auto;
  top: 0;
  table-layout: fixed;
  max-height: 100%;
  max-width: 100%;
}

.img:hover {
	  cursor: pointer;
}

#home {
  background: url(../Images/preEJK.jpg);
  display: block;
  background-size: 100% 100%;
  top: 0;
  table-layout: fixed;
  max-height: 100%;
  max-width: 100%;
  left: 0;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

.homeimg {
  opacity: 0;
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  max-height: 100%;
  max-width: 100%;
  table-layout: fixed;
}
.homeimg:hover {
	cursor: pointer;
}


#home-background {
  opacity: 0;
}

#home:hover {
  background: url(../Images/preJK.jpg);
  background-size: 100% 100%;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

.article:focus {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: rgba(176, 176, 176, 1);
  background-size: 100% 100%;
  transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
}

ulnav {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  top: 0;
  width: 100%;
  z-index: 500;
  display: inline-block;
  vertical-align: top;
  max-width: 1040px;
  text-align: center;
}

linav {
  padding: 4px 2px;
  color: white;
  float: left;
}

linav a,
.dropbtn {
  display: inline-block;
  color: black;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

linav a:hover,
.dropdown:hover .dropbtn {
  color: black;
  background-color: rgba(125, 125, 125, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.36), 0 1px 2px rgba(0, 0, 0, 0.48);
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L",
    "Avant Garde", Futura, sans-serif;
}

linav a,
.dropdown {
  color: white;
  display: inline-block;
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L",
    "Avant Garde", Futura, sans-serif;
}

.dropbtn {
  background-color: rgba(85, 85, 85, 0.9);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.24), 0 1px 2px rgba(0, 0, 0, 0.36);
}

linavb {
  padding: 4px 2px 0px 2px;
  color: white;
  float: left;
}

linavb a,
.dropbtnimg {
  display: inline-block;
  color: black;
  text-align: left;
  text-decoration: none;
  font-size: 17px;
}

linavb a:hover, .dropbtnimg: hover {
  color: black;
  background-color: rgba(125, 125, 125, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.36), 0 1px 2px rgba(0, 0, 0, 0.48);
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L",
    "Avant Garde", Futura, sans-serif;
}

linavb a {
  color: white;
  display: inline-block;
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L",
    "Avant Garde", Futura, sans-serif;
}

.dropbtnimg {
  background-color: rgba(85, 85, 85, 0.9);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.24), 0 1px 2px rgba(0, 0, 0, 0.36);
}

.dropdown-content {
  color: white;
  display: none;
  position: absolute;
  padding: 14px 14px;
  text-align: left;
  background-color: rgba(249, 249, 249, 0.9);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 550;
}

.dropdown-content a {
  color: BlueViolet;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgba(241, 241, 241, 0.9);
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: rgba(255, 255, 255, 0.9);
}

.botbar a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  vertical-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-top: 5px;
  display: inline-block;
  vertical-align: bottom;
  bottom: 0;
  left: 0;
  position: absolute;
  max-width: 1040px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: -ms-flexbox;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-basis: auto;
  margin: 5px auto;
  z-index: 400;
  cursor: pointer;
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L",
    "Avant Garde", Futura, sans-serif;
}

.botbar {
  cursor: pointer;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  min-height: 30px;
  vertical-align: center;
  color: #ffffff;
  bottom: 0px;
  width: 100%;
  z-index: 500;
  display: inline-block;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 1040px;
  text-align: center;
  padding: 0px;
}

.main {
  padding: 0px;
  margin-top: 30px;
  height: 200px;
  margin: 0 auto;
  max-width: 1040px;
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L",
    "Avant Garde", Futura, sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

a {
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

div,
p,
figure {
  margin: 0;
  padding: 0;
}

.header {
  color: black;
  padding: 10px 0 10px;
  text-align: left;
}

.header h1 {
  font-size: 40px;
  font-weight: bold;
}

.header h2 a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: black;
  font-size: 20px;
  opacity: 0.5;
}

.header h2 a:hover {
  border-bottom-color: black;
  opacity: 1;
}

.row {
  float: left;
  color: #ffffff;
  text-decoration: none;
  margin: 0 auto;
  max-width: 1040px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L",
    "Avant Garde", Futura, sans-serif;
}

.column {
  flex: 4;
  flex-direction: row;
}

.articlesimple {
  color: #000000;
  display: -ms-flexbox;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-basis: auto;
  margin: 11px;
  height: auto;
}

.article {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #000000;
  display: inherit;
  flex: 1;
  flex-direction: column;
  flex-basis: auto;
  margin: 10px;
  height: auto;
}

.article:hover,
.article:focus {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #444;
}

.article-image {
  background: #000000;
  display: block;
  padding-top: 75%;
  position: relative;
  width: 100%;
}

.article-image img {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.article-image.is-3by2 {
  padding-top: 66.6666%;
}

.article-image.is-16by9 {
  padding-top: 56.25%;
}

.articlebody {
  box-sizing: border-box;
  flex-direction: column;
  margin-top: 7px;
  margin-bottom: 8px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 1);
  height: auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.article-title {
  color: black;
  padding-left: 5px;
  padding-right: 5px;
  flex-shrink: 0;
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1.2;
}

.article-titleL {
  float: left;
  color: black;
  flex-shrink: 0;
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1.2;
}

.article-titleR {
  float: right;
  color: black;
  flex-shrink: 0;
  font-size: 1.4em;
  font-weight: normal;
  line-height: 1.2;
}

.article-content {
  margin-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: 0;
  color: black;
  height: inherit;
}

.tableclass {
}

.article-content2 {
  flex: 1;
  margin: 5px;
  background-color: 0;
  color: black;
  height: auto;
}

.article-content3 {
  flex: 1;
  margin: 5px;
  text-align: center;
  float: center;
  background-color: 0;
  color: black;
  height: auto;
}

.article-info {
  display: -ms-flexbox;
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.85em;
  justify-content: space-between;
  margin-top: 10px;
  color: black;
}

.article-date {
  float: right;
  opacity: 0.5;
  font-style: italic;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.85em;
  margin-top: 10px;
  color: black;
}

.bot-info {
  display: -ms-flexbox;
  display: flex;
  font-size: 0.85em;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 0px;
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L",
    "Avant Garde", Futura, sans-serif;
  flex-direction: row;
  flex: 1;
  padding: 0px 16px;
}

@media screen and (max-width: 360px) {
  .dropbtn {
    padding: 14px 10px;
  }
}

@media screen and (min-width: 800px) {
  .columns,
  .column {
    display: -ms-flexbox;
    display: flex;
  }

  .first-article .article-body {
    flex: 1;
  }
}

@media screen and (min-width: 1000px) {
  .first-article {
    flex-direction: row;
  }

  .first-article .article-body {
    flex: 1;
  }
}
.first-article .article-image {
  height: 300px;
  order: 2;
  padding-top: 0;
  width: 400px;
}

.main-column {
  flex: 3;
}

.nested-column {
  flex: 2;
}

.first-article {
  flex-direction: row;
}

.first-article .articlebody {
  flex: 1;
}

.first-article .article-image {
  height: 300px;
  order: 2;
  padding-top: 0;
  width: 400px;
}

.main-column {
  flex: 4;
}

.nested-column {
  flex: 2;
}

.tablinkdum {
  float: left;
  padding: 14px 14px;
  width: auto;
  border: none;
  outline: none;
  margin: 0 auto;
  min-width: 6px;
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: auto;
  margin: 0 auto;
  min-width: 48px;
  max-width: 1040px;
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L",
    "Avant Garde", Futura, sans-serif;
}

.tablink2 {
}

.tablink:hover {

  background-color: #777;
  color: #ffffff;
}

.tablinkr {
  background-color: #555;
  color: white;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: auto;
  margin: 0 auto;
  min-width: 48px;
  max-width: 1040px;
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L",
    "Avant Garde", Futura, sans-serif;
  table-layout: fixed;
  display: block;
}

.tablinkr:hover {
  background-color: #777;
  color: #ffffff;
}

.tabcontent {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  margin-top: 5px;
  margin: 0 auto;
  max-width: 1040px;
  width: 99%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-basis: auto;
  margin: 5px;
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L",
    "Avant Garde", Futura, sans-serif;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 700;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.containera {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(40, 40, 40, 0.9);
}

.containera:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  position: relative;
  margin: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/* The Modal */

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 600;
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}
/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
	width:auto;
	max-width:80%;
	height:auto;
	max-height:80%;
  z-index: 600;
}
/* The Close Button */
.close {
  color: rgba(170, 236, 255, 0.95);
  position: absolute;
  position: fixed;
  top: 0px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  z-index: 610;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.25);
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
  z-index: 610;
}

.mySlides {
  display: none;
  color: white;
}

.cursor {
  cursor: pointer;
}
/* Next & previous buttons */
.prev{
  cursor: pointer;
  position: absolute;
  position: fixed;
  top: 50%;
  left: 25px;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: rgba(170, 236, 255, 0.95);
  font-weight: bold;
  z-index: 610;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  cursor: pointer;
  position: absolute;
  position: fixed;
  top: 50%;
  right: 25px;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: rgba(170, 236, 255, 0.95);
  font-weight: bold;
  z-index: 610;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.caption-container {
  position: absolute;
  position: fixed;
  bottom: 0;
  left: 0px;
  width: 100%;
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  display: none;
  opacity: 0.6;
}

.demotext {
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L",
    "Avant Garde", Futura, sans-serif;
  font-size: 17px;
  display: inline-block;
  color: white;
  margin: 0;
  padding: 0;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Number text (1/3 etc) */
.numbertext {
  opacity: 0.0;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.stomt-button {
  height: auto !important;
  border-radius: 0% !important;
  right: 2px !important;
  bottom: 35px !important;
  height: 50px !important;
  width: 59px !important;
  color: transparent !important;

  transform: none !important;
  float: none !important;
  padding: 14px 2px !important;
  font-size: 17px !important;

  list-style-type: none !important;
  margin: 4px 4px auto !important;
  overflow: hidden !important;
  background-color: rgba(0, 145, 201, 0.65) !important;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2) !important;;
  z-index: 1000 !important;
  display: inline-block !important;
  vertical-align: center !important;
  text-decoration: none !important;;
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L",
    "Avant Garde", Futura, sans-serif !important;
}

@media screen and (max-width: 399px) {
  .stomt-button {
    bottom: 50px !important;
  }
}

#Banner {
  color: rgb(119, 255, 85);
  text-shadow: 2px 2px 3px rgba(150, 150, 150, 0.75);
}

#BannerB {
  text-shadow: 2px 2px 3px rgba(150, 150, 150, 0.75);
}

#Default {
  color: white;
}

#Blog {
  color: black;
  background-color: rgba(255, 0, 0, 0.95);
}

#Projects {
  color: black;
  background-color: rgba(255, 255, 0, 0.95);
}

#Contact {
  color: black;
  background-color: rgba(170, 236, 255, 0.95);
}

#BlogB {
  background-color: rgba(255, 0, 0, 0.75);
}

#ProjectsB {
  background-color: rgba(255, 255, 0, 0.75);
}

#ContactB {
  background-color: rgba(170, 236, 255, 0.75);
}

#Index {
  background-color: rgba(85, 85, 85, 0.95);
}

#IndexB {
  background-color: rgba(85, 85, 85, 0.5);
}

#IndexC {
  background-color: rgba(85, 85, 85, 0.95);
}

</style > <style type="text/css" > #wrapper {
  width: 100%;
  float: left;
  height: auto;
  border: 1px solid #5694cf;
}

a.anchor {
  display: block;
  position: relative;
  top: -25px;
  visibility: hidden;
}
